# aclocal
autom4te.cache/
aclocal.m4
# autoheader
config.h.in
# automake --gnu --add-missing
compile
install-sh
missing
texinfo.tex
depcomp
Makefile.in
# autoconf
configure
# ../configure && make
build/
docs/report.info