# Folders
.vscode/
build/
pronghorn-*.html/
.terraform/
src/app/dist/
src/app/node_modules/
src/app/cypress/plugins
src/app/cypress/support
src/app/cypress/videos

# Files
pronghorn.html
*.pdf
*tfstate*